<div class="row g-4">

  <!-- Stats Cards -->
 <!-- <app-stat-card 
      [title]="card.title"
      [value]="card.value"
      [icon]="card.icon">
    </app-stat-card> <div class="col-md-3" *ngFor="let card of cards">
    
  </div> -->

  <!-- Revenue Section -->
  <div class="col-lg-8">
    <div class="card p-4 shadow-sm">
      <h5>Revenue Updates</h5>
      <p class="text-muted">Overview of Profit</p>
      <div class="chart-placeholder"></div>
    </div>
  </div>

  <!-- Right Widgets -->
  <div class="col-lg-4">
    <div class="card p-4 shadow-sm mb-4">
      <h5>Yearly Breakup</h5>
      <h3>$36,358</h3>
    </div>

    <div class="card p-4 shadow-sm">
      <h5>Monthly Earnings</h5>
      <h3>$6,820</h3>
    </div>
  </div>

</div>